.catalog {
  padding: 40px 20px;
}

.catalog__subtitle {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #c7c7c7c7;
  margin-bottom: 20px;
  text-align: center;
}

.filter__buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter__button {
  background: #222;
  color: #fff;
  border: none;
  padding: 5px 18px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.filter__button:hover,
.filter__buttons button.active {
  background: #e63946;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px 30px;
  height: auto;
}

.gallery__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.item__image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 10px;
  pointer-events: none;
}

.gallery__item:hover .overlay {
  opacity: 1;
}

.gallery__item:hover .item__image {
  transform: scale(1.1);
  filter: brightness(0.2);
}

@media screen and (max-width: 1024px) {
  .gallery__item {
    height: 18vh;
  }

}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 50vh;
  }

  .overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4); /
  }

  .gallery__item .item__image {
    filter: brightness(
      0.7
    );
  }
}
